* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1158px;
  padding: 0px 15px;
  margin: 0 auto;
  justify-content: center;
}
.gallery-item {
  flex: 0 0 calc((100% - 64px) / 3);
}
.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: zoom-in;
}